@model DateTime?


<div class='input-group date' id=''>
	@Html.TextBox("", Model.HasValue ? Model.Value.ToString("dd/MM/yyy HH:mm") : String.Empty, new { @class = "form-control" })
	@*<input type='text' class="form-control" />*@
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>

<script type="text/javascript">
	$(function () {
		$('#@Html.IdForModel()').datetimepicker({
			locale: 'pt-br'
		});
	});
</script>
